*{
    margin: 0;
    padding: 0;
}
.navBar{
    position:relative;
    text-decoration: none;
    border: groove;
    
    opacity: 90%;
    list-style: none;
    color: rgb(115, 40, 221);
display: flex;
width: 100%;
flex-direction: row;
justify-content:space-around;
padding-top: 1.4rem;
font-size: 25px;
font-weight: bold;
:hover{
background-color: #FBE407;
transition: .3 ease-in-out;
}
}
body{
    background-color: #f9a629;

}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction:column;
}
.carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: ; */
}

.div_texto1{
display: flex;
justify-content: center;
padding-top: 20px;
}

.div_texto2{
    display: flex;
    justify-content: center;
    padding-top: 20px; 
    flex-direction: column;
}
.texto1{
    background-color: #121212;
    border-radius: 20px;
    width: 52%;    
    opacity: 90%;
    display: flex;
    justify-content: center;
    font-size: 22px;
   color:#ffff;
   font-weight: bold;
}

#texto1{
    color: #121212;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    width: 70%;
    position: relative;
    left: 14%;
    font-size: 25px;
}



#texto2 span{
    color: #121212;

 font-weight: bold;
 text-align: center;
}

#pqNaruto{
    display: flex;
    justify-content: center;
    position: relative;
    left: 25%;
}

.titulo2{
    background-color: #121212;
    border-radius: 20px;
    width: 52%;    
    opacity: 90%;
    font-size: 22px;
   color:#ffff;
   font-weight: bold;
}

#texto2{
    color: #121212;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    width: 70%;
    position: relative;
    left: 14%;
    font-size: 25px;  
}



.carrossel{
    position:inherit;
   
}

.footer{
    border: 5px solid white;
    /* background: #121212; */
}
.textoFooter{
    display: flex;
    margin-top: 40rem;
    color: #ffff;
    display: flex;
    text-align: center;
    font-weight: bold
}
.footer-container{
    color: #ffff;
    display: flex;
    justify-content: center;
}

.hr{
    color: #121212;
    margin-top: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}